h4{
    padding: 0;
    margin: 0;
}

p{
    padding: 5px 0;
    margin: 0;
}

.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
}