.general-container{
  display: flex;
  flex-direction: row;
  height: 99.8vh;
}

.second-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 26%;
}

.battle-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}